extends layout 
block content 
    h1  #{title}: #{instance.book.title} #{instance.imprint}

    p Do you really want to delete this copy?

    form(method='POST' action='')
        div.form-group
            input#instanceid.form-control(type='hidden' name='instanceid' required='true', value=instance.id)
            button.btn.btn-primary(type='submit') Delete